<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/upload_success.css">
</head>
<body>
    <div class="success-page">
        <h1>Your file is uploaded successfully.</h1>
        <button onclick="redirectToViewLogs()">Go to analyzing page</button>
    </div> 
    <script>
        function redirectToViewLogs() {
            window.location.href = "/view_logs"; // Redirect to view_logs route
        }
    </script>
</body>
</html>
